<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/header}"/>
<body>
<th:block th:replace="~{fragments/navbar}"/>
<!-- Actual content starts here -->
<div class="container">
    <!-- Display labels (chips) for project -->
    <div class="row">
        <div class="col-12 p-1">
            <h4>
                <span class="badge text-bg-secondary">Beta</span>
                <span class="badge text-bg-dark">Template Based</span>
                <span class="badge text-bg-warning">Use IDE</span>
                <span class="badge text-bg-warning">Public</span>
            </h4>
        </div>
    </div>
    <!-- Display title for a project -->
    <div class="row">
        <div class="col-12 p-1">
            <h1>[[${project.title}]]</h1>
        </div>
    </div>
    <!-- Display long description for a project -->
    <div class="row">
        <div class="col-12 p-1">
            <h3>Learning outcomes:</h3>
            <p>[(${project.longDescription})]</p>
        </div>
    </div>
    <!-- Display description for a project -->
    <div class="row">
        <div class="col-12 p-1">
            <h3>About:</h3>
            <p>[(${project.description})]</p>
            <!-- TODO: Whether the project is a capstone project -->
            <p>
                It contains core topics for track {{SELECTED_TRACK}}.
                Apply core topics in project stages.
                Solve at least one graduate project to complete the track.
            </p>
        </div>
    </div>
    <!-- What you'll do and what you'll learn: -->
    <div class="row">
        <div class="col-12 p-1">
            <h3>What you'll do and what you'll learn:</h3>
        </div>
        <div class="col-12 p-1">
            <!-- For stage in stages: -->
            <div th:each="stage: ${stages}">
                <div class="card">
                    <div class="card-header">
                        <a th:href="${@environment.getProperty('path.projects')} + '/' + ${project.id} + '/stages/' + ${stage.id} + '/implement'">
                            <h2>Stage [[${stage.stageIndex}]]/[[${stage.stagesCount}]]: [[${stage.title}]]</h2>
                        </a>
                    </div>
                    <div class="card-body">
                        <span>[[${stage.description}]]</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Actual content ends here -->
<th:block th:replace="~{fragments/footer}"/>
</body>
</html>
