<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/header}"/>
<body>
<th:block th:replace="~{fragments/navbar}"/>
<!-- Actual content starts here -->
<div class="container">
    <!-- Display labels (chips) for track -->
    <div class="row">
        <div class="col-12 p-1">
            <h4>
                <span class="badge text-bg-secondary">Beta</span>
                <span class="badge text-bg-dark">Template Based</span>
                <span class="badge text-bg-warning">Use IDE</span>
                <span class="badge text-bg-warning">Public</span>
            </h4>
        </div>
    </div>
    <!-- Display title for a track -->
    <div class="row">
        <div class="col-12 p-1">
            <h1>[[${track.title}]]</h1>
        </div>
    </div>
    <!-- Display description for a track -->
    <div class="row">
        <div class="col-12 p-1">
            <h3>Learning outcomes:</h3>
            <p>[[${project.description}]]</p>
        </div>
    </div>
    <!-- Display long description for a track -->
    <div class="row">
        <div class="col-12 p-1">
            <h3>About:</h3>
            <p>[(${project.longDescription})]</p>
        </div>
    </div>
    <!-- What you'll do and what you'll learn: -->
    <div class="row">
        <div class="col-12 p-1">
            <h3>What you'll do and what you'll learn:</h3>
        </div>
        <div class="col-12 p-1">
        <!-- For stage in stages: -->
        </div>
    </div>
</div>
<!-- Actual content ends here -->
<th:block th:replace="~{fragments/footer}"/>
</body>
</html>
