<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/header}"/>
<body>
<th:block th:replace="~{fragments/navbar}"/>
<!-- Actual content starts here -->
<div class="container">
    <!-- Display buttons (chips) with category titles -->
    <div class="row">
        <div class="col-12 p-1">
            <span th:each="category: ${categories}">
                <!-- If selected make it primary -->
                <a th:href="${@environment.getProperty('path.tracks')} + '?category=' + ${category.id}"
                   th:if="${currCategoryId == category.id}"
                   class="btn btn-primary"
                   role="button">[[${category.title}]]</a>
                <!-- otherwise make in dark -->
                <a th:href="${@environment.getProperty('path.tracks')} + '?category=' + ${category.id}"
                   th:unless="${currCategoryId == category.id}"
                   class="btn btn-outline-dark"
                   role="button">[[${category.title}]]</a>
            </span>
        </div>
    </div>
    <!-- Display tracks for each category -->
    <div class="row">
        <div class="col-12 p-1">
            <div th:each="track: ${currTracks}">
                <div class="card">
                    <div class="card-header">
                        <a th:href="${@environment.getProperty('path.tracks')} + '/' + ${track.id}">
                            Track #[[${track.id}]]
                        </a>
                    </div>
                    <div class="card-body">
                        <span>[[${track.title} ? ${track.description}]]</span>
                        <span>[[${track.description} ? ${track.description}]]</span>
                        <span>[[${track.longDescription} ? ${track.longDescription}]]</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Actual content ends here -->
<th:block th:replace="~{fragments/footer}"/>
</body>
</html>
